{% extends "base.html" %} {% block content %}
<div class="grid12">
    <div>
        <h2>Categories: {{categories.len()}} fetched</h2>
        <div>
            {% for c in categories %}
            <div class="record link uri" hx-get="/category/{{c.id}}/products" hx-target="#products">
                <div>{{c.name}}</div>
                <div><small>{{c.descr}}</small></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="products">-- products --</div>
</div>
{% endblock %}
